*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: #8bbff3;
}

#bs-example-navbar-collapse-1
{
    padding: 0;
}

.row{
    background-color: #8bbff3;
}

p{
    padding: 15px;
}


/* Extra small devs */
@media (max-width: 767px) {
    .row{
        width: 80%;
    }
    p{
        padding: 30px;
    }
}